
.brand {
    font-weight: 700
}

.itemContainer {
    position: absolute;
    opacity: 0;
    height: 310px;
    width: 140px;
    top: 0;
    right: -12px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.item {
    position: relative;
    text-align: center;
    padding: 10px;
    width: 97.5px;
    height: 156.5px;
    margin: 7.5px;
    margin-top: 5px;
    background: #fff;
    display: block;
    border: 3px solid white;
    -webkit-transition: width .3s, height .3s, margin .3s;
    -moz-transition: width .3s, height .3s, margin .3s;
    -ms-transition: width .3s, height .3s, margin .3s;
    transition: width .3s, height .3s, margin .3s;
    border-radius: 4px;
    z-index: 100;
    opacity: 0.88;
    overflow: hidden;
    cursor: pointer;
}
.item:hover {
    opacity: 1;
}

.itemSide {
    display: none;
    float: right;
}
.itemFull {
    float: left;
}

.brand,
.title,
.price {
    width: 100%;
    height: 13px;
    text-align: center;
    position: relative;
    color: black;
    overflow: hidden;
    line-height: 13px;
}

.itemImage {
    position: relative;
    width: 86.25px;
    height: 86.25px;
    padding: 7.5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/007.jpg);
}

.itemBottom {
    position: relative;
    width: 100%;
    height: 60px;
}

.description {
    position: relative;
    width: 100%;
    height: 40px;
}

.buyButton {
    position: relative;
    width: 86.25px;
    height: 18.75px;
    line-height: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    margin: 7.5px auto;
    margin-top: 2px;
    cursor: pointer;
}
/*.buyButton:hover {
    color: #f06124;
    border-color: #f06124;
}*/

.allItemsContainer {
    position: relative;
    width: 0;
    height: 0;
    top: 0px;
    right: 0;
    background: rgba(30, 30, 30, .8);
    z-index: 1000000;
    overflow: scroll;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.buttonsContainer {
    position: absolute;
    width: 100%;
    top: 0
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 310px;
    right: -20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.buttonsContainer {
    height: 30px;
    opacity: 0;
    left: 0;
    z-index: 5;
    background: rgba(30, 30, 30, 0.8);
}

.priceNum,
.sortButton {
    display: inline-block;
    text-align: center;
}

.sortButton {
    position: relative;
    width: 50px;
    height: 25px;
    top: 5px
}

.priceNum {
    position: relative
}

.insertContainer {
    position: relative;
    width: 100%;
    height: 155px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    margin-top: -10px;
  }
  .insertTopContainer {
    position: relative;
    width: 100%;
    height: 13%;
    top: 0;
    left: 0;
  }
  .insertTitle {
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    top: 10%;
    left: 3%;
    /*margin-bottom: 10px;*/
  }
  .insertPowered {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: right;
    right: 0;
    color: #f06124;
    top: 10%;
    /*margin-top: 5px;*/
  }
  .insertContent {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .insertPic {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .insertText {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .insertPrice {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 25%;
    text-align: center;
    font-weight: bold;
  }
  .insertItem {
    position: relative;
    width: 100%;
    height: 11%;
    text-align: center;
    margin-bottom: 13px;
    overflow: hidden;
  }
  .insertBrand {
    position: relative;
    width: 100%;
    height: 20%;
    font-weight: bold;
    text-align: center;
  }
  .insertShop {
    position: relative;
    width: 50%;
    height: 22%;
    line-height: 28px;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    display: none;
  }
  .insertShop:hover {
    color: #f06124;
    border-color: #f06124;
  }
  #insertLink {
    color: black;
  }
  .insertComingUp {
    position: absolute;
    /*margin: auto;*/
    left: 35%;
    /*right: 50%;*/
    top: 45%;
    /*bottom: 50%;*/
  }

  .everenabledContainer {
    position: absolute;
    overflow: hidden;
    z-index: 9999999;
    top: 7.5px;
    right: 7.5px;
    transition: all 0.8s ease;
    width: 0;
    height: 22.5px;
    line-height: 23px;
    color: white;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    opacity: 0.94;
    border: 3px solid white;
    cursor: pointer;
}
.everenabledText {
    position: relative;
    display: inline-block;
    /*width: 40.5px;*/
    height: 22.5px;
    float: left;
    color: black;
    line-height: 23px;
    margin-left: 15px;
}
.everenabledLogo {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    margin-right: 10px;
    margin-top: 1.5px;
    border-radius: 4px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAIYAAAAJDRmYWM0NzNiLWQwZWEtNGIyYi05NTA3LTc0MTdlYjljYmFjMA.png);
}

  .everTopBar {
    position: relative;
    width: 117.5px;
    height: 22.5px;
    background: #fff;
    opacity: 0.94;
    border-radius: 4px;
    margin-top: 8.5px;
    margin-left: 5.5px;
    cursor: pointer;
    border: 3px solid white;
    opacity: 0.88;
  }
  .everTopBar:hover {
    opacity: 1;
  }

  .viewall {
    position: relative;
    display: inline-block;
    width: 40.5px;
    height: 22.5px;
    float: left;
    color: black;
    line-height: 23px;
    margin-left: 40px;
  }

  .everTopBarLogo {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-top: 3.5px;
    border-radius: 4px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAIYAAAAJDRmYWM0NzNiLWQwZWEtNGIyYi05NTA3LTc0MTdlYjljYmFjMA.png);
  }

  .fullscreenControlsContainer {
    position: relative;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
  }
  .fullscreenLogoContainer {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
    float: left;
  }
  .fullscreenLogo {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 8px;
    margin-top: 6.5px;
    border-radius: 4px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAIYAAAAJDRmYWM0NzNiLWQwZWEtNGIyYi05NTA3LTc0MTdlYjljYmFjMA.png);
    cursor: pointer;
  }
  .fullscreenLogoText {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 10px;
    line-height: 35px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  .fullscreenLogoText:hover {
    color: #f06124;
  }
  .fullscreenContact {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 105px;
    line-height: 35px;
    color: white;
  }
  .fullscreenContact:hover {
    color: #f06124;
  }
  .closeFullscreen {
    position: relative;
    float: right;
    color: white;
    line-height: 35px;
    margin-right: 25px;
    cursor: pointer;
  }
  .closeFullscreen:hover {
    color: red;
  }

  .selectTabView {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .selectTabView:hover {
    border-bottom: 1px solid #f06124;
    color: #f06124;
  }

  .selectedTab {
    border-bottom: 1px solid #f06124;
    color: #f06124;
  }

 /* #showItems {
    border-bottom: 1px solid #f06124;
    color: #f06124;
  }*/

  .tabView {
    position: relative;
    width: 100%;
    display:none;
  }
  .socialMedia {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 50px;
    line-height: 50px;
    color: white;
    text-align: center;
  }

  .artistContainer {
    position: relative;
    width: 100%;
    height: 150px;
  }
  .artistPic {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 150px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://instagram.fsnc1-1.fna.fbcdn.net/t51.2885-19/s320x320/12523595_913538522033937_581699256_a.jpg)
  }
  .artistTextContainer {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 150px;
  }
  .musicSocial {
    position: relative;
    display: inline-block;
    width: 16%;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .everContainer {
    position: relative;
    overflow: hidden;
  }

