<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EverTag</title>
  <script src="jquery.min.js"></script>
  <!-- <script src="isotope.min.js"></script> -->
  <link rel="stylesheet" href="style.css">
  <!-- // <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
  <!-- // <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
  <!-- // <script src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script> -->

</head>
<body bgcolor="#DDD">

<div id="topbarWatch" style="width:100%;height:50px;background:black;position:fixed;top:0;left:0;"><p style="float:left;color:orange;top:-24px;left:50px;display:inline-block;position:fixed;font-size:30px;">EverTag</p>
<a href="/tag"><div style="height:50px;width:100px;background:gray;text-align:center;color:white;float:right;top:0px;"><p>Exit</p></div></a>
</div>
<div style="position:relative;width:100%;height:200px;"></div>
  <center>
<!--     <div class="containers" id="videoContainerWatch">
      <div class="containers" id="tagOverlayWatch">
        <div class="buttonsContainer">
            <button class="sortButton" id="sort">name</button>
            <button class="sortButton" id="brand">brand</button>
            <button class="sortButton" id="filter">filter</button>
            <button class="sortButton" id="price">price</button>
            <button class="sortButton" id="showall">all</button>
          </div>
        <div id="fullscreen"></div>
        <div class="containers" id="videoWatch">
          <video id="videoWatcher" width="640" controls muted loop autoplay>
          <source src="https://s3-us-west-1.amazonaws.com/everapp.co/homeLoop.mp4" type="video/mp4">
          This tool does not support the video url (Use MP4 or OGG).
          </video>
        </div>
      </div>
    </div> -->
    <div class="vidContainer">
        <video id="videoWatcher1" class="video" width="640" controls muted loop autoplay>
              <source src="/videos/Gatsby.mp4" type="video/mp4">
              This tool does not support the video url (Use MP4 or OGG).
        </video>
    </div>

    <!-- <div class="vidContainer">
        <video id="videoWatcher2" class="video" width="640" controls muted loop autoplay>
              <source src="Gatsby.mp4" type="video/mp4">
              This tool does not support the video url (Use MP4 or OGG).
        </video>
    </div>

    <div class="vidContainer">
        <video id="videoWatcher3" class="video" width="640" controls muted loop autoplay>
              <source src="Gatsby.mp4" type="video/mp4">
              This tool does not support the video url (Use MP4 or OGG).
        </video>
    </div> -->
  </center>

<button style="display:none;"> Play </button>

<script>

var json = {
    "cutfile" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/",
    "episode" : "Alter Ego",
    "items" : [
        {
            "num" : 268173,
            "color" : "#1C86EE",
            "category" : "beauty",
            "url" : "http://peachandlily.com/products/t-e-n-cremor-cleansing-veil",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/001.jpg",
            "character" : "face",
            "name" : "Cremor Cleansing Veil",
            "brand" : "Cremorlab",
            "price" : "24",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 32,
                    "end" : 42,
                    "num" : 359570
                }
            ]
        },
        {
            "num" : 906431,
            "color" : "#00F5FF",
            "category" : "beauty",
            "url" : "http://www.sephora.com/microdermabrasion-skin-exfoliant-P45503",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/002.jpg",
            "character" : "face",
            "name" : "Microdermabrasion Skin Exfoliant",
            "brand" : "Dr. Brandt Skincare",
            "price" : "79.00",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 44,
                    "end" : 66,
                    "num" : 812690
                }
            ]
        },
        {
            "num" : 925755,
            "color" : "#E5FF00",
            "category" : "beauty",
            "url" : "http://www.amazon.com/gp/product/B001AQX9II",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/003.jpg",
            "character" : "face",
            "name" : "Soothing Moisture Mask",
            "brand" : "Avene",
            "price" : "19.38",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 66,
                    "end" : 77,
                    "num" : 509282
                }
            ]
        },
        {
            "num" : 525199,
            "color" : "#FF3BA3",
            "category" : "beauty",
            "url" : "https://www.glossier.com/#!/products/coconut-balm-dotcom",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/004.jpg",
            "character" : "Lips",
            "name" : "Coconut Balm Dot Com",
            "brand" : "Glossier",
            "price" : "12.00",
            "stock" : "false",
            "instance" : [
                {
                    "start" : 77,
                    "end" : 92,
                    "num" : 356570
                }
            ]
        },
        {
            "num" : 54403,
            "color" : "#A1D490",
            "category" : "beauty",
            "url" : "http://www.emitemakeup.com/4/professional-slant-tweezer",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/005.jpg",
            "character" : "Face",
            "name" : "Professional Slant Tweezer",
            "brand" : "Emité Make Up",
            "price" : "25.00",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 92,
                    "end" : 106,
                    "num" : 886524
                }
            ]
        },
        {
            "num" : 977516,
            "color" : "#3BFF97",
            "category" : "beauty",
            "url" : "http://www.narscosmetics.com/USA/413-blkr-illuminator/0607845023456.html",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/006.jpg",
            "character" : "face",
            "name" : "Illuminator - 413 BLKR",
            "brand" : "NARS Cosmetics",
            "price" : "30",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 106,
                    "end" : 118,
                    "num" : 722958
                }
            ]
        },
        {
            "num" : 988313,
            "color" : "#FF7F3B",
            "category" : "beauty",
            "url" : "http://peachandlily.com/products/iope-air-cushion-sunblock-xp",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/007.jpg",
            "character" : "Face",
            "name" : "Cushion Compact",
            "brand" : "IOPE",
            "price" : "38",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 118,
                    "end" : 143,
                    "num" : 460058
                }
            ]
        },
        {
            "num" : 18298,
            "color" : "#00BDFC",
            "category" : "beauty",
            "url" : "http://www.amazon.com/Laneige-Watery-Cushion-Concealer-Bright/dp/B00KFGQH6K",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/008.jpg",
            "character" : "Face",
            "name" : "Watery Cushion Concealer",
            "brand" : "Laneige",
            "price" : "22.98",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 143,
                    "end" : 170,
                    "num" : 990624
                }
            ]
        },
        {
            "num" : 808708,
            "color" : "#C390D4",
            "category" : "beauty",
            "url" : "http://www.doll10.com/products/cc-powder",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/009.jpg",
            "character" : "Face",
            "name" : "CC Powder",
            "brand" : "Doll 10",
            "price" : "30",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 170,
                    "end" : 194,
                    "num" : 143649
                }
            ]
        },
        {
            "num" : 164203,
            "color" : "#D1FF2B",
            "category" : "beauty",
            "url" : "http://www.ebay.com/itm/like/321923748208?ul_noapp=true&chn=ps&lpid=82",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/010.jpg",
            "character" : "Eyes",
            "name" : "Eye Liner Blackish Satin",
            "brand" : "Shu Uemura",
            "price" : "22.99",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 194,
                    "end" : 218,
                    "num" : 562439
                }
            ]
        },
        {
            "num" : 735261,
            "color" : "#A12E77",
            "category" : "beauty",
            "url" : "http://www.coastalscents.com/xpress-line-cosmetic-pencils.html",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/011.jpg",
            "character" : "Eyes",
            "name" : "Xpress Line Cosmetic Pencil",
            "brand" : "Coastal Scents",
            "price" : "2.95",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 217,
                    "end" : 254,
                    "num" : 956087
                }
            ]
        },
        {
            "num" : 995631,
            "color" : "#BA2FF1",
            "category" : "beauty",
            "url" : "http://www.girlactik.com/website/precise-marker-liner/",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/022.jpg",
            "character" : "Eyes",
            "name" : "Precise Marker Liner",
            "brand" : "Girlactik Beauty",
            "price" : "20",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 254,
                    "end" : 264,
                    "num" : 615429
                }
            ]
        },
        {
            "num" : 110624,
            "color" : "#BA2FF1",
            "category" : "beauty",
            "url" : "http://shop.nordstrom.com/s/kevyn-aucoin-beauty-eyelash-curler/3268231",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/012.jpg",
            "character" : "Eyes",
            "name" : "Eyelash Curler",
            "brand" : "Kevyn Aucoin Beauty",
            "price" : "21",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 264,
                    "end" : 274,
                    "num" : 887755
                }
            ]
        },
        {
            "num" : 845300,
            "color" : "#88FF21",
            "category" : "beauty",
            "url" : "http://www1.bloomingdales.com/shop/product/nars-audacious-mascara?ID=1483735",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/013.jpg",
            "character" : "Eyes",
            "name" : "Audacious Mascara",
            "brand" : "NARS Cosmetics",
            "price" : "26",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 274,
                    "end" : 289,
                    "num" : 12345700.0000000000000000
                }
            ]
        },
        {
            "num" : 176528,
            "color" : "#1122FF",
            "category" : "beauty",
            "url" : "http://www.sephora.com/browza-super-proof-gel-brow-pencil-P397871?keyword=browza&skuId=1714849&_requestid=307202",
            "imageUrl" : "https://static-cms.ipsy.com/contentAsset/image/cfa22f0f-e963-40b3-8fdc-4c293f928de8/fileAsset",
            "character" : "Brows",
            "name" : "Mini Browza Super Proof Gel Brow Pencil",
            "brand" : "Sephora",
            "price" : "19",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 289,
                    "end" : 327,
                    "num" : 9563
                }
            ]
        },
        {
            "num" : 881729,
            "color" : "#181818",
            "category" : "beauty",
            "url" : "http://bit.ly/1LE1v1q",
            "imageUrl" : "http://g.nordstromimage.com/ImageGallery/store/product/Large/9/_8909069.jpg",
            "character" : "Face",
            "name" : "Contour Blush",
            "brand" : "Nars",
            "price" : "42",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 327,
                    "end" : 347,
                    "num" : 118329
                }
            ]
        },
        {
            "num" : 442313,
            "color" : "#818181",
            "category" : "beauty",
            "url" : "http://www.narscosmetics.com/USA/stud-single-eyeshadow/0607845020974.html",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/016.jpg",
            "character" : "Eyes",
            "name" : "Eyeshadow Stud",
            "brand" : "NARS Cosmetics",
            "price" : "25",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 347,
                    "end" : 363,
                    "num" : 871390
                }
            ]
        },
        {
            "num" : 13752,
            "color" : "#00ABF1",
            "category" : "beauty",
            "url" : "http://www1.macys.com/shop/product/anastasia-beverly-hills-liquid-lipstick-a-macys-exclusive?ID=1914670",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/017.jpg",
            "character" : "Lips",
            "name" : "Liquid Lipstick",
            "brand" : "Anastasia Beverly Hills",
            "price" : "20",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 363,
                    "end" : 417,
                    "num" : 869786
                }
            ]
        },
        {
            "num" : 314893,
            "color" : "#0F0F0F",
            "category" : "beauty",
            "url" : "https://www.ipsy.com/product/p-ic2iipd6vr2f1r3y/Marc+Anthony/Nourishing+Argan+Oil+of+Morocco+Oil+Treatment",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/018.jpg",
            "character" : "Hair",
            "name" : "Nourishing Argan Oil",
            "brand" : "Marc Anthony",
            "price" : "30.00",
            "stock" : "false",
            "instance" : [
                {
                    "start" : 417,
                    "end" : 452,
                    "num" : 367091
                }
            ]
        },
        {
            "num" : 852154,
            "color" : "#F0F0F0",
            "category" : "beauty",
            "url" : "http://bit.ly/1R4tTry",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/019.jpg",
            "character" : "Hair",
            "name" : "Color Pill Nail Polish in Stormy",
            "brand" : "DOSE",
            "price" : "Sold out",
            "stock" : "false",
            "instance" : [
                {
                    "start" : 452,
                    "end" : 456,
                    "num" : 109283
                }
            ]
        },
        {
            "num" : 456719,
            "color" : "#FF2266",
            "category" : "beauty",
            "url" : "http://tattify.com/product/just-a-phase/",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/020.jpg",
            "character" : "Body",
            "name" : "Moon Phase Tattoo",
            "brand" : "Tattify",
            "price" : "5",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 456,
                    "end" : 491,
                    "num" : 98765
                }
            ]
        },
        {
            "num" : 456000,
            "color" : "#F722FF",
            "category" : "beauty",
            "url" : "http://www.paperself.com/view_product.php?category=4&type=14&item=37",
            "imageUrl" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/products/021.jpg",
            "character" : "Body",
            "name" : "Ink Flower Tattoos",
            "brand" : "Paperself",
            "price" : "6",
            "stock" : "true",
            "instance" : [
                {
                    "start" : 491,
                    "end" : 507,
                    "num" : 638203
                }
            ]
        },
        {
            "num" : 249533,
            "color" : "#C4E3FF",
            "category" : "media",
            "url" : "https://www.youtube.com/watch?v=_IQkhuUx4w4",
            "imageUrl" : "https://i.ytimg.com/vi/_IQkhuUx4w4/maxresdefault.jpg",
            "character" : "Michelle Phan",
            "name" : "Bad Girl",
            "brand" : "",
            "price" : "",
            "stock" : "",
            "instance" : []
        }
    ],
    "producer" : "Michelle Phan",
    "show" : "Makeup",
    "uniqueID" : "18625437834992",
    "videoURL" : "https://s3-us-west-1.amazonaws.com/cutfiles/MichellePhan/Makeup/AlterEgo/video.mp4",
    "youtubeID" : "LKxkQ_lny0s"
}

var items = json.items


</script>

<script src="api.js"></script>

</body>
</html>
